[BACKUP]
user=ocid1.user.oc1..aaaaaaaabbbbbbbbbbbbbbcccccccccccccccccccdddddddddddeeeeeeee
fingerprint=00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff
tenancy=ocid1.tenancy.oc1..aaaaaaaaabbbbbbbbbbccccccccccccccccccdddddddddddddddeeeeeeee
region=us-ashburn-1
passphrase=
key_file=<path-to-backup-key.pem>

[RESTORE]
user=ocid1.user.oc1..aaaaaaaabbbbbbbbbbbbbbcccccccccccccccccccdddddddddddeeeeeeee
fingerprint=00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff
tenancy=ocid1.tenancy.oc1..aaaaaaaaabbbbbbbbbbccccccccccccccccccdddddddddddddddeeeeeeee
region=us-ashburn-1
passphrase=
key_file=<path-to-restore-key.pem>

[DELETE]
user=ocid1.user.oc1..aaaaaaaabbbbbbbbbbbbbbcccccccccccccccccccdddddddddddeeeeeeee
fingerprint=00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff
tenancy=ocid1.tenancy.oc1..aaaaaaaaabbbbbbbbbbccccccccccccccccccdddddddddddddddeeeeeeee
region=us-ashburn-1
key_file=<path-to-delete-key.pem>
